body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
    color: #111;
}

nav {
    background: #1f8f3a; /* green */
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: #ce1126; /* red */
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.btn {
    background: white;
    color: #ce1126;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.gallery-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-grid img {
    width: 300px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

input, textarea {
    width: 300px;
    padding: 10px;
}

button {
    background: #1f8f3a;
    color: white;
    padding: 10px 20px;
    border: none;
}
